// 랜딩페이지
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.landing {
    .landing__cover {
        display: flex;
        align-items: center;
        height: 700px;
        padding-top: 70px;
        background-color: $oc-white;
        .left {
            .cover__img {
                width: 100%;
                height: 450px;
            }
        }
        .right {
            padding-left: 20px;
            .cover__title {
                margin-top: 140px;
            }
            .cover__subtitle {
                margin-top: 20px;
                line-height: 1.75em;
                color: $oc-gray-6;
            }
        }
    }
    .landing__merit {
        padding: 80px 0;
        .merit__item {
            padding: 40px;
            text-align: center;
            .item__img {
                width: 100%;
                height: 250px;
            }
            .item__title {
                margin-top: 30px;
            }
            .item__description {
                margin-top: 15px;
                color: $oc-gray-6;
            }
        }
    }
    .landing__premium {
        padding: 80px 0;
        background-color: $oc-white;
        .left {
            .premium__title {
                margin-top: 120px;
            }
            .premium__subtitle {
                margin-top: 20px;
                line-height: 1.75em;
                color: $oc-gray-6;
            }
        }
        .right {
            .premium__img {
                width: 100%;
                height: 400px;
            }
        }
    }
}