// 미리보기 페이지
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.preview {
    min-height: 100vh;
    background-color: white;
    .preview-body {
        width: 1000px;
        padding: 60px 0;
        text-align: center;
        // 기본 서식
        // ––––––––––––––––––––––––––––––––––––––––––––––––––
        .section-name {
            margin-top: 30px;
            margin-bottom: 10px;
            text-align: left;
            font-weight: 700;
            font-size: 19px;
        }
        .table {
            border-collapse: collapse;
            .table__row {
                .table__header,
                .table__data {
                    min-width: 120px;
                    padding: 10px 15px;
                    border: 1px solid $oc-gray-9;
                    text-align: center;
                    font-weight: 500;
                    font-size: 15px;
                }
                .table__header {
                    background-color: $oc-gray-2;
                    font-weight: 600;
                }
                .talbe__data {}
            }
            .align-left { text-align: right !important; }
            .align-right { text-align: right !important; }
        }
        // 문서 타입 / 문서 이름
        // ––––––––––––––––––––––––––––––––––––––––––––––––––
        .document-type { letter-spacing: 0.8em; }
        .document-name {
            margin-top: 15px;
        }
        // 회사 정보
        // ––––––––––––––––––––––––––––––––––––––––––––––––––
        .company-info {
            margin-top: 60px;
            .table {
                width: 100%;
                .table__row {
                    .table__header,
                    .table__data { min-width: 80px; }
                }
            }
            .receiver {
                .table ~ .table { margin-top: 20px; }
            }
            .sender {
                border: 2px solid $oc-gray-9;
                .table {
                    .table__row {
                        .table__header { width: 95px; }
                    }
                }
            }

        }
        // 견적 내용
        // ––––––––––––––––––––––––––––––––––––––––––––––––––
        .table-wrap {
            overflow: auto;
            scrollbar-width: none;
            &::-webkit-scrollbar { display: none; }
            .table {
                width: 100%;
                .table__row {
                    .table__header {
                        border-bottom: 3px double;
                    }
                }
                .total__title { border: 1px solid !important; }
            }
        }
        // 합계 금액
        // ––––––––––––––––––––––––––––––––––––––––––––––––––
        .total {
            margin-top: 15px;
            .table {
                width: 100%;
                .table__row {
                    .table__header,
                    .table__data {
                        font-weight: 700;
                    }
                }
                .table__row:first-child {
                    .table__data {
                        border: none !important;
                    }
                }
            }
        }
        // 문서 하단, 도장
        // ––––––––––––––––––––––––––––––––––––––––––––––––––
        .document-footer {
            z-index: 1;
            position: relative;
            display: inline-block;
            margin-top: 60px;
            .sender {}
            .stamp {
                z-index: -1;
                position: absolute;
                top: -50%;
                right: -25%;
                max-width: 80px;
                max-height: 80px;
            }
        }
    }
}