// 가입페이지
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.register {
    min-height: 100vh;
    padding-top: 110px; // nav height + 40px
    background-color: $oc-gray-0;
    // 가입페이지 기본 인풋 스타일
    // ––––––––––––––––––––––––––––––––––––––––––––––––––
    .register-info {
        margin-top: 40px;
        .left {
            .title { margin-top: 35px; }
        }
        .right {
            padding-bottom: 40px;
            border: 1px solid $oc-gray-3;
            border-radius: 5px;
            background-color: $oc-white;
            box-shadow: 0 2px 4px $oc-gray-2;
            .form__group {
                padding: 40px 40px 0;
                .input-with-btn { width: calc(100% - 120px); }
                .btn.btn-outline--secondary {
                    display: inline-block;
                    width: 100px; 
                    margin-left: 20px;
                    padding: 11px 18px;
                    border-color: $oc-gray-3;
                    font-size: 15px;
                }
            }
            .form__group-wrap {
                .form__group:first-child { padding-right: 0; }
                .form__group:last-child { padding-left: 0; }
            }
            .divider {
                box-shadow: 0 2px 4px $oc-gray-1;
            }
        }
    }
    .register-info:first-child { margin-top: 0; }
    .register-info:last-child {
        padding-bottom: 40px; // 마지막 섹션 하단 패딩 
    }
}

// 기본정보
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.register-info.register-default-info {}

// 담당자 정보
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.register-info.register-manager-info {
    .right {
        padding-bottom: 0;
        border: 0;
        background-color: transparent;
        box-shadow: none;
        .manager__list {
            padding-bottom: 0;
            border: 1px solid $oc-gray-3;
            border-radius: 5px;
            background-color: $oc-white;
            box-shadow: 0 2px 4px $oc-gray-2;
            .list__header {
                padding: 30px 40px;
                transition: 0.2s ease-out;
                cursor: pointer;
                &:hover { background-color: $oc-gray-0; }
                .list__title {
                    display: inline-block;
                }
                .list__arrow {
                    float: right;
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    border: 0 solid $oc-gray-5;
                    border-width: 0 0 2px 2px;
                    transform: translateY(-2px) rotate(-45deg);
                }
            }
            .divider {
                display: none;
                margin-top: 0;
                padding: 0;
            }
            .form { display: none; }
            .btn.btn-outline--danger {
                width: 100%;
                padding: 14px 16px 15px;
                border-radius: 0 0 3px 3px;
                margin-top: 40px;
                font-size: 15px;
            }
        }
        .manager__list.manager__list--open {
            .list__header {
                .list__arrow {
                    transform: translateY(6px) rotate(135deg);
                }
            }
            .form { display: block; }
            .divider { display: block; }
        }
        .manager__list ~ .manager__list { margin-top: 20px; }
    }
    .btn.btn-outline--primary {
        width: 100%;
        padding: 14px 16px 15px;
        border-style: dashed;
        margin-top: 20px;
        font-size: 15px;
    }
}

// 회사 정보
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.register-info.register-company-info {
    .right {
        padding-bottom: 0;
        .btn.btn--primary {
            width: 100%;
            padding: 14px 16px 15px;
            border-radius: 0 0 3px 3px;
            margin-top: 40px;
            font-size: 15px;
        }
    }
}