// 사용자정보 페이지
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.user {
    .company-info,
    .payment-info,
    .manager-info,
    .account-info {
        border: 1px solid $border;
        border-radius: $border-radius;
        background-color: white;
        @include shadow;
    }
    // 결제 정보
    // ––––––––––––––––––––––––––––––––––––––––––––––––––
    .payment-info {
        margin-top: 20px;
        .btn.btn--text { margin-top: 8px; }
    }
    // 계좌 정보
    // ––––––––––––––––––––––––––––––––––––––––––––––––––
    .account-info {
        margin-top: 20px;
        .form__mixed {
            .input__text {
                border-right: 1px solid $border;
                border-radius: 0 $border-radius $border-radius 0;
            }
        }
        .select-account {
            width: 100%;
            margin-top: 20px;
        }
    }
    // 비밀번호 변경
    // ––––––––––––––––––––––––––––––––––––––––––––––––––
    .change-pw {
        width: 100%;
        margin-top: 20px;
        font-weight: 500;
        background-color: $oc-gray-0;
        &:hover { background-color: $oc-gray-1; }
    }
    // 담당자 정보
    // ––––––––––––––––––––––––––––––––––––––––––––––––––
    .manager-info {
        .component__header {
            border: none; 
            transition: 0.2s ease-out;
            cursor: pointer;
            &:hover { background-color: $oc-gray-0; }
            .arrow {
                display: inline-block;
                width: 10px;
                height: 10px;
                border: 0 solid $oc-gray-9;
                border-width: 0 0 2px 2px;
                transform: rotate(-45deg);
                transition: 0.2s ease-out;
            }
        }
        .component__content { display: none; }
        .btn.btn-outline--danger {
            width: 100%;
            margin-top: 20px;
        }
    }
    .manager-info ~ .btn.btn-outline--primary {
        width: 100%;
        margin-top: 20px;
        border-style: dashed;
    }
    // 담당자 정보 -- 클릭해서 열었을 때
    // ––––––––––––––––––––––––––––––––––––––––––––––––––
    .manager-info.manager-info--open {
        .component__header {
            border-bottom: 1px dashed $border;
            .arrow { transform: translateY(8px) rotate(135deg); }
        }
        .component__content { display: block; }
    }
}

@media (max-width: $mobile-max-width) {
    .user {
        margin-top: 60px;
        margin-bottom: 50px;
    }
    .six.columns ~ .six.columns { margin-top: 20px; }
}