// 인풋 라벨
// ––––––––––––––––––––––––––––––––––––––––––––––––––
label {
    display: block;
    font-weight: 700;
    font-size: 14px;
    .required { color: $oc-red-7; }
}
input:focus { outline: none; }

// 인풋 기본형
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.input__text {
    width: 100%;
    margin-top: 12px;
    padding: 10px 12px 11px;
    border: 1px solid $border;
    border-radius: $border-radius;
    font-family : inherit;
    font-size: 14px;
    transition: 0.2s ease-out;
    &:focus { border-color: $oc-gray-6; }
    &::placeholder { color: $oc-gray-5; }
}
.input__text.disabled {
    background-color: $oc-gray-0;
}
.form__input {}
.form__input.with-btn {
    .input__text { border-radius: $border-radius 0 0 $border-radius;}
    .btn {
        border-radius: 0 $border-radius $border-radius 0;
        margin-top: 12px;
        padding: 10px 20px 11px;
        border-left: 0;
        font-weight: 500;
        background-color: $oc-gray-0;
        &:hover { background-color: $oc-gray-1; }
    }
}
.form__input ~ .form__input { margin-top: 20px; }

// 셀렉트박스
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.select-wrap {
    position: relative;
    &:after {
        position: absolute;
        z-index: 1;
        top: 50%;
        right: 16px;
        display: inline-block;
        width: 6px;
        height: 6px;
        border: solid #212729;
        border-width: 0 0 1px 1px;
        transform: rotate(-45deg);
        content: "";
    }
    .select {
        position: relative;
        display: inline-block;
        width: 100%;
        margin-top: 12px;
        padding: 10px 12px 11px;
        padding-right: 32px;
        border: 1px solid $border;
        border-radius: $border-radius;
        background-color: transparent;
        font-family : inherit;
        font-size: 14px;
        -webkit-appearance: none;
        &:focus { outline: none; }
    }    
}
.form__select {}

// 셀렉트박스 + 텍스트 인풋 + add-on 조합
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.form__mixed {
    .select-wrap {
        display: inline-block;
        &:after { top: 16px; }
        .select {
            margin: 0;
            border: 1px solid $oc-gray-7;
            border-radius: $border-radius 0 0 $border-radius;
        }
    }
    .input__text {
        width: auto;
        margin: 0;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
        &:focus { border-color: $oc-gray-3; }
    }
    .input__add-on {
        display: inline-block;
        width: 44px;
        height: 100%;
        border: 1px solid $oc-gray-3;
        border-radius: 0 $border-radius $border-radius 0;
        text-align: center;
        line-height: 38px;
        background-color: $oc-gray-0;
    }
}

// 텍스트에어리어
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.input__textarea {
    width: 100%;
    min-height: 3em;
    margin-top: 12px;
    padding: 10px 12px 11px;
    border: 1px solid $border;
    border-radius: $border-radius;
    font-family : inherit;
    font-size: 14px;
    transition: 0.2s ease-out;
    &:focus { border-color: $oc-gray-6; outline: none; }
    &::placeholder { color: $oc-gray-5; }
}

// .form__group {
//     label {
//         display: block;
//         font-size: 15px;
//         .required { color: $oc-red-7; }
//     }
//     input:focus {
//         outline: none;
//     }
//     // .form__input {
//     //     width: 100%;
//     //     margin-top: 12px;
//     //     padding: 12px 0 13px;
//     //     border: 0;
//     //     border-bottom: 1px solid $border;
//     //     font-size: 16px;
//     //     transition: 0.2s ease-out;
//     //     &:focus {
//     //         border-bottom-color: $oc-gray-9;
//     //     }
//     //     &::placeholder { color: $oc-gray-5; }
//     // }
//     .form__input {
//         width: 100%;
//         margin-top: 12px;
//         padding: 12px 12px 13px;
//         border: 1px solid $border;
//         border-radius: $border-radius;
//         font-size: 15px;
//         transition: 0.2s ease-out;
//         &:focus {
//             border-color: $oc-gray-4;
//         }
//         &::placeholder { color: $oc-gray-5; }
//     }

//     .form__text {
//         display: block;
//         margin-top: 10px;
//         color: $primary--dark;
//         font-size: 13px;
//         font-weight: 500;
//     }
//     .form__file {
//         display: block;
//         width: 100%;
//         margin-top: 15px;
//         padding: 10px;
//         border: 1px solid $border;
//         border-radius: 5px;
//         font-family: inherit;
//         line-height: inherit;
//         transition: 0.2s ease-out;
//         cursor: pointer;
//         &:hover { background-color: $oc-gray-0; }
//     }
//     .form__textarea {
//         width: 100%;
//         min-height: 8.5em;
//         margin-top: 15px;
//         padding: 12px;
//         border: 1px solid $border;
//         font-size: 16px;
//         transition: 0.2s ease-out;
//         &:focus {
//             border-color: $oc-gray-9;
//             outline: none;
//         }
//         &::placeholder { color: $oc-gray-5; }
//     }
// }
