// nav
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.nav {
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 60px;
    padding: 0 25px;
    border-bottom: 1px solid $border;
    background-color: $oc-white;
    .nav__header {
        .nav__logo {
            display: inline-block;
            width: 70px;
            height: 20px;
            background: url('../../res/img/logo.png');
            background-size: cover;
        }
        .nav__hamburger {
            font-size: 22px;
            color: $oc-gray-9;
        }
        .nav__close {
            display: none;
            font-size: 20px;
            color: $oc-gray-9;
        }
    }
    .nav__menu {
        position: absolute;
        top: 60px;
        left: 0;
        display: none;
        width: 100%;
        height: 200vh;
        background-color: white;
        .menu__item {
            .menu__link {
                display: inline-block;
                width: 100%;
                padding: 20px 25px;
                color: $oc-gray-6;
                transition: 0.2s ease-out;
                &:hover { background-color: $oc-gray-1; }
                .nav__logo {
                    display: inline-block;
                    width: 70px;
                    height: 20px;
                }
            }
            i {
                display: inline-block;
                min-width: 16px;
                margin-right: 24px;
                font-size: 16px;
                text-align: center;
            }
        }
        .menu__item--active {
            .menu__link {
                background-color: $oc-gray-0;
                color: $oc-gray-9;
            }
        }
        .divider {
            border: 0;
            border-bottom: 1px solid $border;
        }
    }
}
.nav.nav--open {
    .nav__header {
        .nav__hamburger { display: none; }
        .nav__close { display: block; }
    }
    .nav__menu { display: block; }
}

@media (max-width: $mobile-max-width) {
    .nav { display: flex; }
}